<h1>Direct Messages</h1>
<hr>
<% @channels.each do |channel| %>
  <%= link_to channel_direct_messages_path(channel) do %>
    <%= channel.user_followers.where.not(id: current_user.id).pluck(:name).join(',') %>
  <% end %>
  <hr>
<% end %>
