<h1>Users</h1>
<hr>
<% @users.each do |user| %>
  <%= link_to user_path(user) do %>
    <%= user.name %>
    <%= image_tag user.image.url, width: '100px' if user.image.present? %>
    <%= user.profile %>
  <% end %>
  <hr>
<% end %>
