<h1>Users</h1>
<hr>
<% @users.each do |user| %>
  <%= link_to user_path(user) do %>
  <div>
    <%= image_tag user.image.circle.url, class: 'rounded-circle', width: '50px' if user.image.present? %>
    <label><%= user.name %></label>

  </div>
  <% end %>
  <hr>
<% end %>
