<table>
<tbody>
<tr>
<td>会社名</td>
<td>横井情報通信産業株式会社</td>
</tr>
<tr>
<td>設立</td>
<td>2011年1月11日</td>
</tr>
<tr>
<td>発起人</td>
<td>20名</td>
</tr>
<tr>
<td>資本金</td>
<td>11,111,111円</td>
</tr>
<tr>
<td>本社</td>
<td>〒460-0008 愛知県名古屋市中区栄３丁目２−３ 日興証券ビル4F</td>
</tr>
<tr>
<td>一宮事務所</td>
<td>〒491-0045 愛知県一宮市音羽１丁目１２−１６</td>
</tr>
<tr>
<td>東京事務所</td>
<td>〒153-0062 東京都目黒区三田２丁目７−１８ テックレジデンス目黒三田307</td>
</tr>
<tr>
<td>代表</td>
<td>横井 雅</td>
</tr>
</tbody>
</table>
