<li class="nav-item">
  <%= link_to 'mypage edit', edit_user_path(current_user), class: "nav-link" %>
</li>
<li class="nav-item">
  <%= link_to 'payment', mypages_payment_path, class: "nav-link" %>
</li>
