<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="/timelines" class="nav-link active">timelines</a>
  </li>
  <li class="nav-item">
    <a href="/photos" class="nav-link">photos</a>
  </li>
</ul>
<hr>
<%= render 'timelines', timelines: @timelines %>
