<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="/timelines" class="nav-link active">timelines</a>
  </li>
  <li class="nav-item">
    <a href="/photos" class="nav-link">photos</a>
  </li>
</ul>
<hr>
<% @timelines.each do |timeline| %>
<%= link_to timeline do %>
<p style="color:white;">  <%= timeline.content %> </p>
<% end %>
<hr>
<% end %>
<%= link_to 'New Timeline', new_timeline_path %>
