/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "tempusdominus-bootstrap-4.css";

body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.5;
  color: #F0F8FF;
  text-align: left;
  background-color: #050425;
  word-break: break-all;
}

hr {
  border-top: 1px solid rgba(253, 203, 203, 0.1);
}

h1 {
  font-weight: 100;
}

.img-icon {
  max-width: 50px;
}

.profile-img {
  margin: 5px 0;
  right: 10px;
  bottom: 0px;
  max-width: 50px;
  position: absolute;
}

.profile-img-div {
  min-height: 100%;
  position: relative;
}

.linkBox {
  position: relative;
  width: 50%;
  height: auto;
  background: #444;
}

.ratio-1_1:before {
    content: "";
    display: block;
    padding-top: 100%; /* 1:1 */
}

.linkBox a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.inner {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}

.brand-name {
  color: #0a2e44;
}

.container a {
  color: #c5e1ff;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

#message_search > div > span > button > i {
  color: #c5e1ff;
}

#error_explanation {
  background-color: #06040a;
}

.form-control {
  background-color: #2d2929eb;
}

.simple-calendar .prev-month {
  background: black;
}

.simple-calendar .next-month {
  background: black;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border: 1px solid #1e4265;
}

.table {
  color: #1e4265;
}

.simple-calendar .today {
    background: #7b97de77;
}
